In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [29]:
#The total number of months included in the dataset.
months=df["Date"].nunique()
months

86

In [30]:
#The net total amount of Profit/Losses over the entire period.

total=df["Profit/Losses"].sum()
total

38382578

In [31]:
#The average of the changes in Profit/Losses over the entire period.
df["Profit/Losses"].diff()

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [14]:
df["pl changes"]=df["Profit/Losses"].diff()

In [41]:
average=df["pl changes"].mean()
average

-2315.1176470588234

In [18]:
df["pl changes"].max()

1926159.0

In [25]:
j=df["pl changes"].idxmax()

In [32]:
maxchange=df.loc[j]

In [33]:
#The greatest decrease in losses (date and amount) over the entire period.
i=df["pl changes"].idxmin()
minchange=df.loc[i]

In [58]:
#output
output=f"""Financial Analysis
----------------------------
Total Months: {months}
Total: ${total:,}
Average  Change: ${average:.2f}
Greatest Increase in Profits: {maxchange["Date"]} (${maxchange["pl changes"]:,.2f})
Greatest Decrease in Profits: {minchange["Date"]} (${minchange["pl changes"]:,.2f})
"""

In [59]:
print(output)

Financial Analysis
----------------------------
Total Months: 86
Total: $38,382,578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159.00)
Greatest Decrease in Profits: Sep-2013 ($-2,196,167.00)

In [60]:
with open("budget analysis.txt","w") as f:
    f.write(output)